.vscode
node_modules

cezerin2/.vscode
cezerin2/node_modules
cezerin2/public/admin-assets/js/app-*
cezerin2/public/admin-assets/js/vendor-*
cezerin2/public/admin-assets/css/bundle-*
cezerin2/public/admin/index.html
cezerin2/public/content/*
!cezerin2/public/content/*.md
cezerin2/theme/dist/*
cezerin2/theme/assets/js/app-*
cezerin2/theme/assets/js/theme-*
cezerin2/theme/assets/css/bundle-*
cezerin2/theme/assets/index.html
cezerin2/theme/assets/sw.js
cezerin2/theme/assets/precache-manifest.*.js
cezerin2/dist/*
cezerin2/logs/*.log
cezerin2/npm-debug.log*
cezerin2/*.zip

cezerin2-admin/.vscode
cezerin2-admin/node_modules
cezerin2-admin/public/index.html
cezerin2-admin/dist/*
cezerin2-admin/npm-debug.log*
cezerin2-admin/*.zip

cezerin2-store/.vscode
cezerin2-store/node_modules
cezerin2-store/public/admin-assets/js/app-*
cezerin2-store/public/admin-assets/js/vendor-*
cezerin2-store/public/admin-assets/css/bundle-*
cezerin2-store/public/admin/index.html
cezerin2-store/public/content/*
!cezerin2-store/public/content/*.md
cezerin2-store/theme/dist/*
cezerin2-store/theme/assets/js/app-*
cezerin2-store/theme/assets/js/theme-*
cezerin2-store/theme/assets/css/bundle-*
cezerin2-store/theme/assets/index.html
cezerin2-store/theme/assets/sw.js
cezerin2-store/theme/assets/precache-manifest.*.js
cezerin2-store/dist/*
cezerin2-store/logs/*.log
cezerin2-store/npm-debug.log*
cezerin2-store/*.zip
